{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


<div class="pure-g">
    <div class="pure-u-1-24 pure-u-md-5-24"></div>
	<div class="pure-u-11-12 pure-u-md-5-8">
	<div class="post-content">
	  <p class="posts-name">{{ .Title }}:</p>

	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Data.Pages }}
		{{ if eq .Type "post" }}
		<li>
		  {{ if .Draft }}
		  DRAFT: 
		  {{ end }}
		  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

		  <p class="footnote">
			submitted <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

			{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
			to
			{{ end }}

			{{ with $page.Params.tags }}
			tags:[ {{ range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.categories }}
			categories:[ {{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

			{{ with $page.Params.series }}
			series:[ {{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . | urlize }}">{{ . }}</a> {{ end }}]
			{{ end }}

		  </p>
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	</div>
	</div>
    <div class="pure-u-1-24 pure-u-md-1-6"></div>
</div>

{{ partial "footer.html" . }}
