<footer class="pure-g">
        <nav class="pure-u-11-12 pure-u-md-5-8 pure-menu pure-menu-horizontal footer-content">
            <ul class="pure-menu-list">
                <li class="pure-menu-heading" id="foot-name">{{ .Site.Author.name }}</li>

                {{ if .Site.Author.email }}
                <li class="pure-menu-item">
                    <a href="mailto:{{ .Site.Author.email }}" class="pure-menu-link">Email</a>
                </li>
                {{ end }}

                {{ if .Site.Author.github }}
                <li class="pure-menu-item">
                    <a href="https://github.com/{{ .Site.Author.github }}" class="pure-menu-link">GitHub</a>
                </li>
                {{ end }}

                {{ if .Site.Author.linkedin }}
                <li class="pure-menu-item">
                    <a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}" class="pure-menu-link">LinkedIn</a>
                </li>
                {{ end }}

                {{ if .Site.Author.facebook }}
                <li class="pure-menu-item">
                    <a href="https://www.facebook.com/{{ .Site.Author.facebook }}" class="pure-menu-link">Facebook</a>
                </li>
                {{ end }}

                {{ if .Site.Author.twitter }}
                <li class="pure-menu-item">
                    <a href="https://twitter.com/{{ .Site.Author.twitter }}" class="pure-menu-link">Twitter</a>
                </li>
                {{ end }}

            </ul>
            <a href="#" class="pure-menu-link" id="gototop-btn">↑↑</a>
        </nav>
</footer>