<header id="menu">
  <div class="container">
	<span class="logo">{{ .Site.Title }}</span>
	<a>&#9776;</a>
  </div>
</header>

<nav class="navbar">
  <div class="container">
	<div class="row">
	  <div class="eight columns offset-by-two">
		<ul class="">
		  {{ $burl := .Site.BaseUrl }}
		  <li class="u-pull-left"> <a href="{{ $burl }}" class="brand" style="font-weight:bold;font-size:normal"> {{ .Site.Title }} </a></li>
		  <li class="u-pull-right cate"> <a href="{{ $burl }}/about/" class=""> About </a></li>
		  {{ range $name, $pages := .Site.Taxonomies.categories }}
		  <li class="u-pull-right cate"> <a href="{{ $burl }}/categories/{{ $name | urlize }}" class=""> {{ $name | title }} </a></li>
		  {{ end }}
		</ul>
	  </div>
	</div>
  </div>
</nav>
