{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="pure-g center-box">
	<div class="pure-u-11-12 pure-u-md-5-8">
	  <p class="posts-name">Recent posts:</p>

	  <ul class="posts">
		{{ $baseurl := .Site.BaseURL }}
		{{ range $name, $page := .Site.Pages }}
		{{ if eq .Type "post" }}
		<li>
		  <a href="{{ .Permalink }}">{{ $page.Title }}</a>

		  <p class="footnote">
			submitted <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}" class="post-list timeago">{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}</time>

			{{ if or $page.Params.tags $page.Params.categories $page.Params.series }}
			to
			{{ end }}

			{{ with $page.Params.tags }}
			tags: <span class="taxonomy">{{ range $page.Params.tags}}<a href="{{ $baseurl }}tags/{{ . }}">{{ . }}</a>{{ end }}</span>
			{{ end }}

			{{ with $page.Params.categories }}
			categories: <span class="taxonomy">{{ range $page.Params.categories }}<a href="{{ $baseurl }}categories/{{ . }}">{{ . }}</a>{{ end }}</span>
			{{ end }}

			{{ with $page.Params.series }}
			series: <span class="taxonomy">{{ range $page.Params.series }}<a href="{{ $baseurl }}series/{{ . }}">{{ . }}</a> {{ end }}</span>
			{{ end }}

		  </p>
		</li>
		{{ end }}
		{{ end }}
	  </ul>
	</div>
</div>

{{ partial "footer.html" . }}

<script src="js/list.bundle.js"></script>
</body>
</html>